.fistScreen{
  min-height: calc(100dvh - 80px); height: auto;
}
.baner{
  background-image: url('/public/vazerunokSection.svg');
  background-position: center;
  background-repeat: repeat-x;
  height: 40px;
}
.photo{
  width: 100%;  
  height: auto;  
  display: block;  
  object-fit: cover; 
}

.classh3{
  font-size: 22px;
  font-weight: normal;
  line-height: 1;
  margin-bottom: 25px;
  margin-top: 20px;
  
}

.mainButton{
    font-size: 32px;
}

.meinMiddle {
  max-width: 450px; /* Обмежуємо ширину для мобільного */
  margin: 0 auto; /* Центруємо на екрані */
  padding: 20px;
  text-align: center;
  font-family: 'Marck Script', cursive; /* Ваш шрифт */
}