.headerTittle{
  text-align: center;
  font-size: 20px;
}

.heaedertext{
  margin-top: 20px;
  font-size: 20px;
}

.blok{
    display: flex;
    flex-direction: column; /* Ставить кожен .contact-item один під одним */
    padding-left: 16px;
    padding-top: 38px;
    padding-bottom: 30px;
}

.socMeseg{
  display: block;
  text-align: center;
}

.socMeseg h4 {
  font-size: 20px;
  margin: 20px;
}
.wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; /* Ставить кожен .contact-item один під одним */
    padding-left: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
}
.Title{
        font-size: 20px;
    text-align: center;
    margin: 20px;
}