.galleryTitle {
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  @media (min-width: 768px) {
    font-size: clamp(18px, 1.8vw, 28px);
    font-weight: normal;
    line-height: 1.4; 
  }
}
.classHr {
  margin: 30px 0;
  border: 0;
  border-top: 1px solid #000;
}