.nameSection {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  box-sizing: border-box;
}

.nameSection h2 {
  align-items: center;
  font-size: 38px;
  padding: 0 15px;
  margin: 0px;
  font-family: "Marck Script", cursive;
  background-color: #f0e6da;
  max-width: 100%;
  overflow: visible;
  text-overflow: clip;
  line-height: 0.8;
  text-align: center;
  white-space: nowrap;
}

.nameSection img {
  display: block;
  height: auto; 
  max-width: 100%;
}

.dishList .Dish:not(:last-child) {
  content: "";
  display: block;
  position: absolute;
  bottom: 10px;
  left: 15px;
  width: 70%;
  height: 1px;
  background-color: #000;
  color: #000;
}

.dishList {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.vizerunok {
  flex: 1;
  height: 60px; /* Спробуйте значення від 50px до 80px */
  background-image: url(/public/vazerunokSection.svg);
  background-repeat: repeat-x;
  background-size: auto 40px;
}
