

.heaederh4{
  padding-left: 12px;
  font-size: 20px;
    line-height: 0.8; 
}

.headerContent{
    display: flex;         
    align-items: center;   
    margin: 0;            
    height: 50px;
    margin-bottom: 10px;
}
.headerContent img{
  height: 30px;
  width: 30px;
}

.infoSpan{
  line-height: 0.8; 
  font-size: 16px;
}