.header {
  background-color: #f0e6da;
}

.headerContainer {
  display: flex;
  justify-content: space-between; /* Розносить елементи по краях */
  align-items: center;
  padding: 8px 15px 10px ;
}
.emblem {
  max-width: 100%;
  width: 50px; /* Зменшено для кращого балансу */
  height: auto;
  object-fit: contain; /* Щоб не було розтягнення */
  @media (min-width: 768px) {
    height: auto;
    width: 60px;
  }
  @media (min-width: 1440px) {
    height: auto;
    width: 70px;
  }
}
.headClass {
  background: none; /* Прибирає фон */
  border: none; /* Прибирає рамку */
  padding: 0; /* Прибирає внутрішні відступи */
  cursor: pointer; /* Робить курсор у вигляді вказівника при наведенні */
  display: flex; /* Допомагає правильно вирівняти іконку всередині */
  align-items: center;
  justify-content: center;
}

.menuBtn {
  background: none; /* Прибирає фон */
  border: none; /* Прибирає рамку */
  padding: 0; /* Прибирає внутрішні відступи */
  cursor: pointer; /* Робить курсор у вигляді вказівника при наведенні */
  display: flex; /* Допомагає правильно вирівняти іконку всередині */
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    height: 35px;
  }
}

.menuBtn img {
  display: block;
  width: 25px;
  height: auto;
  @media (min-width: 480px) {
    height: auto;
    width: 28px;
  }
  @media (min-width: 768px) {
    height: auto;
    width: 30px;
  }
  @media (min-width: 1440px) {
    height: auto;
    width: 35px;
  }
}
.emblemOther {
  width: 14px; /* перевизначить ширину */
  height: 24px; /* перевизначить висоту */
  @media (min-width: 480px) {
    height: auto;
    width: 14px;
  }
  @media (min-width: 1440px) {
    height: auto;
    width: 16px;
  }
}

